<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Full Regression Output Tables</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='icons8-vote-16.png') }}">

  <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  
    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
  
    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  
  <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style21.css')}}">
  </head>
  <style>
  
  body {background-color: #737685;};
  .header {
    background-repeat: no-repeat;
    overflow:hidden;
    height: 255px;
    padding: 55px;
    margin: 0;
    background: black;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(8, 8, 8, 0.5), rgba(8, 8, 8, 0.5)),
    url('https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_197/restore_your_faith_in_politics_1200x627.jpg?quality=89&w=800');
  }
  </style>
  <body >
  
  
    <div class ="wrapper"> 
      <nav color= "blue" class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand glyphicon glyphicon-home" href="https://zach-spahr-politics.herokuapp.com/">Home/About</a>
            </div>
            <!-- API key -->
            <!-- API key -->
            <!--ul class="nav navbar-nav navbar-right"-->
              <!--a href="https://zach-spahr-politics.herokuapp.com/president_map"><span class="glyphicon glyphicon-map-marker"></span> Presidential Election History</a-->
            <!--/ul-->
            <div class="dropdown" id ="hello">
              <button id ="hello5" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span> Statewide Election Results</button>
              
              <ul class="dropdown-menu">
                <li><a href="https://zach-spahr-politics.herokuapp.com/president_map">US Presidential Results from 2000 to 2020 </a></li>
                <li><a href="https://zach-spahr-politics.herokuapp.com/senate_maps">US Senate Results 2008-2020</a></li>
                <li><a href="https://zach-spahr-politics.herokuapp.com//house_pop_maps">US House Popular Vote by State 2008-2020 </a></li>
              </ul>
              
            </div>
            <div class="dropdown" id ="hello2">
              <button id ="hello2" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-signal"></span> Results by House District</button>
              
              <ul class="dropdown-menu">
                <li><a href="https://zach-spahr-politics.herokuapp.com/house_map">US Congressional Results 2016-2020</a></li>
                <li><a href="https://zach-spahr-politics.herokuapp.com/president_cd_maps">US Presidential Results by Congressional District 2012-20 </a></li>
                <li><a href="https://zach-spahr-politics.herokuapp.com/house_districts_demographics">Demographics of US Congressional Districts </a></li>
              </ul>
              
            </div>
            <div class="dropdown" id ="hello3">
              <button id ="hello3" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-stats"></span>2020 Presidential Results Regression by House District</button>
              
              <ul class="dropdown-menu">
                <li><a href="https://zach-spahr-politics.herokuapp.com/choose_regression">Regression Initiation Page</a></li>
                <li><a href="https://zach-spahr-politics.herokuapp.com/regression_table">Full Regression Output and Predictions </a></li>
                
              </ul>
        
          </div>   
  
          <div class="dropdown" id ="hello4">
            <button id ="hello4" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-bookmark"></span>Other Random Musings</button>
            
            <ul class="dropdown-menu">
              <li><a href="https://zach-spahr-politics.herokuapp.com/formula_1">Formula 1</a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com/US_politics_writing">US Politics</a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com/other_thoughts">Other Thoughts</a></li>
              
            </ul>
      
        </div>
        
    </div>
    <header class="header">
      <br>
      <h1 class="header1 fadeInDown animated" style="text-indent: 3.0cm; color:whitesmoke; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Zach's Politics Data</h1>
      <h2 class="header2 fadeInDown animated" style="text-indent: 4cm; color:whitesmoke;text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; " >Providing Data Sets and Analysis of 2020 Election Races</h2>
    </header>
  
      <br>
      
  </div>   
  
    <h4 style="color: rgb(90, 19, 19);text-align: center; text-indent: 0.25cm;"> The tables below provide more details about the model below and what it is doing for those who are interested. The 
    first set of the three tables shows the full output of the different regressions with the independent variables chosen on the previoius page. Below the output table is the covariance matrix, which shows if any independent variables
  are highly correlated with one another. High correlation between independent variables can lead to issues in the coefficient estimates. Lastly, the final table below shows the predicted and actual vote shares for both Biden and Trump in each 
congressional district.    </h4>
  </div>
</div>

      
      
    

      
      
   <br>
   
    
    
   <div class="container">
    <h2 style= "text-indent: 0.25cm;">Pick the table with full regression output you would like to see</h2>
    <button type="button" id="button1" class="btn btn-primary">Biden Vote Share</button>
    <button type="button" id = "button2" class="btn btn-success">Trump Vote Share</button>
    <button type="button" id = "button3" class="btn btn-warning">Biden Margin</button> 
      
    <div class="collapse" id="zek1">
        {{ reg_tables[0] | safe }}
        <br><br>
        <h4> Covariance Parameters</h4>
        <br>
        {{ cov_params[0] | safe }}
       
    </div>
    <div class="collapse" id="zek2">
        {{ reg_tables[1] | safe }}
        <br><br>
        <h4> Covariance Parameters</h4>
        <br>
        {{ cov_params[1] | safe }}</div>
        
    <div class="collapse" id="zek3">
        {{ reg_tables[2] | safe }}
        <br><br>
        <h4> Covariance Parameters</h4>
        <br>
        {{ cov_params[2] | safe }}
      </div>

  </div>

  <br><br>
  
  <script>
  $(document).ready(function(){
    $("#button1").click(function(){
      $(".collapse").collapse('hide');
      $("#zek1").collapse('toggle');
    });
    $("#button2").click(function(){
      $(".collapse").collapse('hide');
      $("#zek2").collapse('toggle');
    });
    $("#button3").click(function(){
      $(".collapse").collapse('hide');
      $("#zek3").collapse('toggle');
    });
  });
  

  </script>
  <br>
  <br>
  <div id="python_table">
    {{ cd_merged | safe }}
  </div>
  <style>
    /* python table id put here like this #python_table*/
    
    table {
      width: 80%;
      border: 2px solid;
      border-collapse: collapse;
    }
    td {
      text-align: center;
      border: 2px solid;
      vertical-align: bottom;
    }
    th{padding: 5px;
        border: 2px solid;

    
    }
    .btn-primary {
        background-color: #008CBA;
        
      }
      .btn-success {
        background-color: #f44336; /* Red */
        
      }
      .btn-warning {
        background-color:purple;
        
      }
    
    </style>
  </div>
  <main>

    <!--section class="posts">

      <article class="post">

        <div id="map1"></div>
        <center>  
          <b>
            <h4 style="font-size:33px; color: rgba(29, 0, 29, 0.692); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              House District</h4>
          </b>
        </center>
        

        <br>

        <center> 
          <h4 style="font-size:25px; color: rgba(29, 0, 29, 0.692); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Select Year / Demographic info</h4>
          </center>

        <style> 
        .select {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 10px;
            vertical-align: baseline;
            align-items: center;
            align-self: center;
            text-align: center;
            width: 600px ;
          }
        
        </style>
        <center>   
        <select class= "select" id="categories">
        <option> Initiate Map</option>
        <option value="2020"> 2020 US Presidential Results Regression</option>
        
    
        </select>
      </center-->

        <br>
        <br>

    </article></section>

    <br>
    <br>

  </main>
  <!-- The div where we will inject our map -->
 <!--div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;"> 
   MAP<div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(-204.317px, 81.9961px, 0px);">
    <div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 1; opacity: 1;">
  <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 17; transform: translate3d(-2400px, -900px, 0px) scale(2);"></div>
  <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 18; transform: translate3d(-800px, -250px, 0px) scale(1);"></div>
<br>

<br>
  
  < API key -->
  <!-- <script src="{{ url_for('static', filename='config.js') }}"></script> -->
<!--script src="{{ url_for('static', filename='president_maps.js') }}"></script-->
  <!--script type="text/javascript" src="house_maps19.js"></script-->
   <!-- New Line Tested to get this this thing going -->
  
  <!-- Our JS -->
  
  
  
</body>
</html>