<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>2020 Presidential Map Regression Results</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='icons8-vote-16.png') }}">

  <!-- Leaflet JS & CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<!-- Our CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style20.css')}}">
  <!--link rel="stylesheet" href="{{ url_for('static', filename='my-style2.css')}}"-->
</head>
<style>

body {background-color: #737685;};

</style>
<body >


  <div class ="wrapper"> 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand glyphicon glyphicon-home" href="https://zach-spahr-politics.herokuapp.com/">Home/About</a>
          </div>
          <!-- API key -->
          <!-- API key -->
          <!--ul class="nav navbar-nav navbar-right"-->
            <!--a href="https://zach-spahr-politics.herokuapp.com/president_map"><span class="glyphicon glyphicon-map-marker"></span> Presidential Election History</a-->
          <!--/ul-->
          <div class="dropdown" id ="hello">
            <button id ="hello5" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span> Statewide Election Results</button>
            
            <ul class="dropdown-menu">
              <li><a href="https://zach-spahr-politics.herokuapp.com/president_map">Presidential Results from 2000 to 2020 </a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com/senate_maps">Senate Results 2008-2020</a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com//house_pop_maps">House Popular Vote by State 2008-2020 </a></li>
            </ul>
            
          </div>
          <div class="dropdown" id ="hello2">
            <button id ="hello2" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-signal"></span> Results by House District</button>
            
            <ul class="dropdown-menu">
              <li><a href="https://zach-spahr-politics.herokuapp.com/house_map">Congressional Results 2016-2020</a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com/president_cd_maps">Presidential Results by Congressional District 2012-20 </a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com/house_districts_demographics">Demographics of Congressional Districts </a></li>
            </ul>
            
          </div>
          <div class="dropdown" id ="hello3">
            <button id ="hello3" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-stats"></span>2020 Presidential Results Regression by House District</button>
            
            <ul class="dropdown-menu">
              <li><a href="https://zach-spahr-politics.herokuapp.com/choose_regression">Regression Initiation Page</a></li>
              <li><a href="https://zach-spahr-politics.herokuapp.com/regression_table">Full Regression Output and Predictions </a></li>
              
            </ul>
      
        </div>   

        <div class="dropdown" id ="hello4">
          <button id ="hello4" class="btn btn-primary dropdown-toggle" style="color: #337ab7; text-align: center; background-color:transparent; border-color: transparent;" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-bookmark"></span>Other Random Musings</button>
          
          <ul class="dropdown-menu">
            <li><a href="https://zach-spahr-politics.herokuapp.com/choose_regression">Formula 1</a></li>
            <li><a href="https://zach-spahr-politics.herokuapp.com/regression_table">General US Politics Thoughts</a></li>
            
            
          </ul>
    
      </div>   

    <br>
    
  <header class="header">
    <br><br><br>
    <h1 class="header1 fadeInDown animated" style="text-indent: 3.5cm; color:black; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Zach's Politics Data</h1>
    <br><br>
    <h2 class="header2 fadeInDown animated" style="text-indent: 7cm; color: black;text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; " >Providing Data Sets and Analysis of 2020 Election Races</h2>
  </header>

</div>   

<div>
    <h4 style="color: rgb(90, 19, 19);text-align: left;text-indent: 0.75cm;">   Welcome to this interactive page that attempts to provide the user with a bit more insight
    into how to make a basic regression model that looks at the relationship between the demographic characteristics (race, education, density, and partisanship)
    of a congressional district and the presidential result. At this time, these results are not attempting to predict any future elections results. Instead,
    this interactive is a reasonable way to look at how Biden and Trump performed electorally relative to what might have been expected of them in different types of congressional districts.
    The map is included to give a better visual of where there may be more upside or downside for the parties going forward.   
  </h4>
</div>
<br>
<div>
<h4 style= "text-indent: 0.25cm;"> Things to Think About When Selecting Variables for the model:</h4>
<p style= "text-indent: 0.25cm;"> 1. Inclusion of Partisanship (2018 cook pvi index) in the model:
  This variable is by far the most predictive of the election result, which makes sense given that COOK PVI is created
  by taking the aggregagtion of previous election results. Including this variable is useful if you want a highly predictive model
  with a high r squared value. However, most of the other variables are highly correlated with partisanship as well, creating a multicolinearity problem
  where the coefficients of other variables may not be very useful if you include them in a model with partisanship included. 
 <p style= "text-indent: 0.25cm;">2. Multicolinearity between the different variables: When creating an estimation of this type of model, it is an issue when two independent variables
   correlate with each other because it can throw off the estimates of their coefficients. These are the three main issues in the model with this:</p>
 <p style= "text-indent: 0.25cm;"> -including multiple racial groups. i.e a higher percent of white people in a district would correlate negatively with the percent of african americans in a district</p>
<p style= "text-indent: 0.25cm;"> -including multiple race by education variables, i.e districts that are more white are likely to have both more white college and white- non-college voters, only 1 of these likely needed </p>  
<p style= "text-indent: 0.25cm;"> -Including demographic groups with partisnaship, i.e demographic groups are highly correlated with partisanship as well as election results, distorting those coefficents. However,
  including both may provide some insight into which groups trended more towards one party in a way that was not reflective of their prior partisanship. </p>
  <p style= "text-indent: 0.25cm;">  To simply the covariance issue, I calculated variance inflation factors of the different coefficients. In general, I marked anything with
  a value of over 5 as having a serious covariance problem; however, that is a somewhat arbitrary designation and does not mean there are not co-variance issues even if all values are below 5. I 
have included more detailed covariance tables on the page with the more detailed tables. </p>
  <p style= "text-indent: 0.25cm;"> 3. Be careful with the interpretation of these coefficients. Many of the coefficient estimates will change quite a bit when different
  variables are included in the regression. The best example of this is if you switch the white college and white non college variables in a regression with
the other racial groups included in it. You will notice that the intercept value changes and the positive coefficients become negative. This means that it is hard for us to say 
with any confidence that a 1% increase of a certain population group will be associated with an x% increase or decrease of Biden vote share, for instance.   </p>


<!-- However, the difference between the coefficients of the variables
remain similar. Those differences between the coefficients tell us something about which variables is more associated with increased Trump or Biden vote share.-->

</div>
<div id="calc-container">
    <h3 style= "text-indent: 0.25cm;">Regression Variables to Include</h3>
    <p style= "text-indent: 0.25cm;">Please enter the variables you would like to include in this regression</p>
    <label style= "text-indent: 0.25cm;">Enter variable:</label>
   </br><br>
   <form action="{{ url_for('index') }}" method="POST">
      <input type="checkbox" name="2018_Cook_PVI_Score" value="2018_Cook_PVI_Score">
      <input type="hidden" name="2018_Cook_PVI_Score" value="0" />
      <label for="cook_pvi"> 2018 COOK PVI Index</label><br>
      <input type="checkbox" name="white_non_college_pct_pop" value="white_non_college_pct_pop">
      <input type="hidden" name="white_non_college_pct_pop" value="0" />
      <label for="white_no_ba"> White voters without a college degree</label><br>
      <input type="checkbox" name="white_ba_pct_pop" value="white_ba_pct_pop">
      <input type="hidden" name="white_ba_pct_pop" value="0" />
      <label for="white_ba"> White voters with a college degree</label><br>
      <input type="checkbox" name="white_pct_pop" value="white_pct_pop">
      <input type="hidden" name="white_pct_pop" value="0" />
      <label for="white_pct_pop"> White percent of population</label><br>
      <input type="checkbox" name="black_pct_pop" value="black_pct_pop">
      <input type="hidden" name="black_pct_pop" value="0" />
      <label for="black_pct"> Black percent of Population </label><br>
      <input type="checkbox" name="hispanic_pct_pop" value="hispanic_pct_pop">
      <input type="hidden" name="hispanic_pct_pop" value="0" />
      <label for="hispanic_pct_pop"> Hispanic percent of population</label><br>
      <input type="checkbox" name="asian_pct_pop" value="asian_pct_pop">
      <input type="hidden" name="asian_pct_pop" value="0" />
      <label for="asian_pct_pop"> Asian percent of population</label><br>
      <input type="checkbox" name="other_race_pct_pop" value="other_race_pct_pop">
      <input type="hidden" name="other_race_pct_pop" value="0" />
      <label for="other_race_pct_pop"> Pct of district that indentifies as another race</label><br>
      <input type="checkbox" name="black_ba_pct_dis" value="black_ba_pct_dis">
      <input type="hidden" name="black_ba_pct_dis" value="0" />
      <label for="black_ba_pct_dis"> Pct of district that is Black with a college degree</label><br>
      <input type="checkbox" name="black_non_college_pct_dis" value="black_non_college_pct_dis">
      <input type="hidden" name="black_non_college_pct_dis" value="0" />
      <label for="black_non_college_pct_dis"> Pct of district that  is Black without a college degree</label><br>
      <input type="checkbox" name="hispanic_ba_pct_pop" value="hispanic_ba_pct_pop">
      <input type="hidden" name="hispanic_ba_pct_pop" value="0" />
      <label for="hispanic_ba_pct_pop"> Pct of district that is Hispanic with a college degree</label><br>
      <input type="checkbox" name="hispanic_non_college_pct_pop" value="hispanic_non_college_pct_pop">
      <input type="hidden" name="hispanic_non_college_pct_pop" value="0" />
      <label for="hispanic_non_college_pct_pop"> Pct of district that  is Hispanic without a college degree</label><br>
      <input type="checkbox" name="asian_ba_pct_pop" value="asian_ba_pct_pop">
      <input type="hidden" name="asian_ba_pct_pop" value="0" />
      <label for="asian_ba_pct_pop"> Pct of district that is Asian with a college degree</label><br>
      <input type="checkbox" name="asian_non_college_pct_pop" value="asian_non_college_pct_pop">
      <input type="hidden" name="asian_non_college_pct_pop" value="0" />
      <label for="asian_non_college_pct_pop"> Pct of district that  is Asian without a college degree</label><br>
      <input type="checkbox" name="City_Lab_Congressional_Index_Pure rural" value="City_Lab_Congressional_Index_Pure rural">
      <input type="hidden" name="City_Lab_Congressional_Index_Pure rural" value="0" />
      <label for="City_Lab_Congressional_Index_Pure rural"> City Lab Congressional District Urbanization Index</label><br>
      <p style= "text-indent: 0.25cm;"> Note: If you select City Lab Index, 5 dummy variables will show up in model with Rural districts serving as the reference group.</p>
      
      
      
      <br></br>
     <input type="submit" name="next" value="Next">
   </form>
   
   
   <h2 style= "text-indent: 0.5cm;">Table with Coefficients and Variance Inflation Factor Values</h2>
   
   <div class="container">
    <h4>Pick the table with coefficient matrix and vifs you would like to see.</h4>
    <button type="button" class="btn btn-primary">Biden Vote Share</button>
    <button type="button" class="btn btn-success">Trump Vote Share</button>
    <button type="button" class="btn btn-warning">Biden Margin</button> 
      
    <div class="collapse" id="zek1">
      <br>
      <div class="well"> 
        <h3> Biden Vote Share Regression Equation:</h3>
        <br>
        Predicted Biden Vote Share = {{ selected_variables[3]}}
        <h5>R Squared Value: {{ selected_variables[6]}}    </h5>
        <h5> P Value of F Statistic: {{ selected_variables[9]}}  : {{ selected_variables[12]}}   </h5></div>
    {{ selected_variables[0] | safe }}
       
    </div>
    <div class="collapse" id="zek2">
      <br>
      <div class="well">
        <h3> Trump Vote Share Regression Equation:</h3>
        <br>
        Predicted Trump Vote Share = {{ selected_variables[4]}}
        <h5>R Squared Value: {{ selected_variables[7]}}    </h5>
        <h5> P Value of F Statistic: {{ selected_variables[10]}}  : {{ selected_variables[13]}}   </h5></div>
    {{ selected_variables[1] | safe }}</div>
        
    <div class="collapse" id="zek3">
      <br>
      <div class="well">
        <h3> Biden Margin Regression Equation:</h3>
        <br>
        Predicted Biden Margin = {{ selected_variables[5]}}
      <h5>R Squared Value: {{ selected_variables[8]}}</h5>
      <h5> P Value of F Statistic: {{ selected_variables[11]}}  : {{ selected_variables[14]}}   </h5>
    </div>
    {{ selected_variables[2] | safe }}
      </div>
  </div>
  
  <script>
  $(document).ready(function(){
    $(".btn-primary").click(function(){
      $(".collapse").collapse('hide');
      $("#zek1").collapse('toggle');
    });
    $(".btn-success").click(function(){
      $(".collapse").collapse('hide');
      $("#zek2").collapse('toggle');
    });
    $(".btn-warning").click(function(){
      $(".collapse").collapse('hide');
      $("#zek3").collapse('toggle');
    });
  });

  </script>
   <br>
   <style>
    /* python table id put here like this #python_table*/
    
    table {
      width: 80%;
      border: 2px solid;
      border-collapse: collapse;
    }
    td {
      text-align: center;
      border: 2px solid;
      vertical-align: bottom;
    }
    th{padding: 5px;
        border: 2px solid;
    
    }
    .btn-primary {
        background-color: #008CBA;
        
      }
      .btn-success {
        background-color: #f44336; /* Red */
        
      }
      .btn-warning {
        background-color:purple;
        
      }
      .well{background-color: rgb(116, 113, 126);
      
      }
    
    
    </style>
   <div id="python_table">
    
  </div>
  
  </div>
  <main>

    <section class="posts">

      <article class="post">

        <div id="map1"></div>
        <center>  
          <b>
            <h4 style="font-size:33px; color: rgba(29, 0, 29, 0.692); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              2020 Trump vs Biden Predictions by Congressional District</h4>
          </b>
        </center>
        

        <br>

        <center> 
          <h4 style="font-size:25px; color: rgba(29, 0, 29, 0.692); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            View Regression Predicitions by District</h4>
          </center>

        <style> 
        .select {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 10px;
            vertical-align: baseline;
            align-items: center;
            align-self: center;
            text-align: center;
            width: 600px ;
          }
        
        </style>
        <center>   
        <select class= "select" id="categories">
        <option> Initiate Map</option>
        <option value="Biden"> Biden Vote Share Prediction</option>
        <option value="Trump"> Trump Vote Share Prediction</option>
        <option value="Biden_Margin"> Biden Margin Prediction</option>
        
    
        </select>
      </center>

        <br>
        <h5> Note: The shades of blue and red on this map correspond to the performance of Biden or Trump relative to what the regression model expects, meaning that a darker shade of blue or red in a 
          specific district means that Biden or Trump did better in those districts than this specific regression model would predict.  
          
        </h5>
        <br>

    </article></section>

    <br>
    <br>

  </main>
  <!-- The div where we will inject our map -->
 <div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;"> 
   MAP<div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(-204.317px, 81.9961px, 0px);">
    <div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 1; opacity: 1;">
  <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 17; transform: translate3d(-2400px, -900px, 0px) scale(2);"></div>
  <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 18; transform: translate3d(-800px, -250px, 0px) scale(1);"></div>
<br>

<br>
  
  <!-- API key -->
  <!-- <script src="{{ url_for('static', filename='config.js') }}"></script> -->
<script src="{{ url_for('static', filename='regression_maps2.js') }}"></script>
  <!--script type="text/javascript" src="house_maps19.js"></script-->
   <!-- New Line Tested to get this this thing going -->
  
  <!-- Our JS -->
  
  
  
</body>
</html>